:root {
    --color-light: #D9D9D9;
    --color-dark: #030623;
    --color-warm: #C66565;
}

html, body {
    margin: 0;
    font-family: "Judson"; /* Cambiar la fuente a Judson */
    background-color: var(--color-dark);
    min-height: 100%;
    min-width: min-content;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
    padding: 20px;
    height: 100vh;
}

.white-rectangle {
    align-items: center;
    background-color: var(--color-light);
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center; /* Centrar el contenido */
    max-width: 400px;
    height: 40%;
}

#title {
    font-size: 1.5rem;
    margin: 0;
    color: var(--color-dark); /* Cambiar el color del título */
    margin-bottom: 70px;

}

button {
    background-color: var(--color-dark);
    border: none;
    color: var(--color-light);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block; /* Convertir en bloque en línea */
    font-size: 1rem;
    margin: 10px auto; /* Alinear al centro verticalmente */
    margin-bottom: 40px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-family: "Judson"; /* Cambiar la fuente a Judson */
}
